.album_name{
    display: flex;

}

.album_display div {
    max-width: 512px;
    width: 50%;
    min-width: 256px;
}
.album_display {
    display: flex;
    flex-wrap: wrap;
}

.album_display {
    width: 100%;
    height: auto;
}


body {
    overflow-y: visible;
    height: 50vh;
    background-color: white;
}